version: "3.8"

services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: 10.107.220.7
      PMA_PORT: 3306
    volumes:
      - ./phpmyadmin/config.inc.php:/etc/phpmyadmin/config.inc.php:ro
